
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian Mono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.gameContainer{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 5px;
    background-color: #7fa71a;
}


.gameDetails{
    color: #1F2023;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.gameBoard{
    width: 100%;
    height: 100%;
    background-color: #a1d41e;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}


.gameBoard .food{
    background: #ff003d;
}

.gameBoard .snakeHead{
    background: #000000;
}

.gameBoard .gameOverText{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
}

#button {
    margin-left: 5px;
    cursor: pointer;
    font-size: 25px;
    background: none;
    border: none;
}

.sunColor{
    color: #ffffff;
}

.darkMode {
    background-color: #1F2023;
    color: #ffffff;
}